SECRET_KEY=your_secret_key_here
DATABASE_URL=postgresql://user:pass@localhost/db
SUPER_ADMIN_SECRET=your_super_secret_here
SERVICE_FEE_PERCENTAGE=2.0
SUPPORT_WHATSAPP=0737349468
SUPPORT_EMAIL=support@goldenvow.com
